div .traffic {
    padding: 10px;
}

.traffic {
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    width: 120px;
    background-color: black;
}

#red {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    margin-bottom: 6px;
}

#yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    margin-bottom: 6px;
}

#green {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    margin-bottom: 6px;
}

#purple {
    width: 100px;
    height: 100px;
    background-color: rgb(92, 0, 128);
    border-radius: 100%;
}

.ilum{
    box-shadow: 0px 0px 15px 4px rgb(251, 255, 213);
}

button{
    border-radius: 3px;
    margin-top: 6px;
}

#mybutton {
    display: flex;
    justify-content: center;

}